# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# dotenv environment variable files
.env
.env.staging
.env.production
.env.development.local
.env.test.local
.env.production.local
.env.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Outputs
dist/mira-widget.dev.js